<div id="<%= dom_id picture %>">
  <p>
    <strong>Name:</strong>
    <%= picture.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= picture.content %>
  </p>

  <%= image_tag picture.image.url %>

</div>
